*.pyc
*.py[cod]
**/__pycache__/

.venv/lib/
.venv/bin/
.venv/include/
venv/
env/

persistence/neverquest.db
configuration/secrets.json
configuration/credentials
*/secrets.json

.DS_Store
*.db
**/*.db
.sqlite3
